/* Project links */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1C346A;
}
.grid {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 40vh 40vh;
}
.grid-cell {
    display: block;
    border: 1px solid;
    border-radius: 3px;
    padding: 2vw;
    text-align: center;
    margin: 0.5vw;
    border-color: #FFB85F;
    color: #FFB85F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 22vh 22vh 22vh 22vh;
   }
  .grid-cell {
    padding: 3vw;
    text-align: center;
    margin: 0.5vw;
    border-color: #FFB85F;
    color: #FFB85F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
}