/* Project links */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1C346A;
}
.grid {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 40vh 40vh 40vh;
}
.grid-cell {
    display: block;
    border: 1px solid;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-color: #FFB85F;
    color: #FFB85F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 22vh 22vh 22vh 22vh 22vh 22vh;
   }
  .grid-cell {
    padding: 3vw;
    text-align: center;
    margin: 0.5vw;
    border-color: #FFB85F;
    color: #FFB85F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
}

.project-image {
    display: block;
    width: 100%;
    margin-top: 10px;
    height: auto;
}

.all-button:hover {
    cursor: pointer;
}

.all-button {
  margin-top: 20px;
  justify-content: center;
  width: max-content;
  height: 40px;
  color: #FFB85F;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

input[type="submit" i] {
    cursor: pointer;
    appearance: unset;
    user-select: none;
    text-align: center;
    width: inherit;
    height: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background-color: #1C346A;
    border-color: #FFB85F;
    border: 1px solid;
    border-radius: 3px;
}